Repository zulucmd/zulu: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-tests, go-mod-tidy

.pre-commit-config.yaml:

minimum_pre_commit_version: '2.9.3'

repos:
  - repo: https://github.com/pre-commit/pre-commit
    rev: v4.0.1
    hooks:
      - id: validate_manifest

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.63.3
    hooks:
      - id: golangci-lint

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
        stages: [pre-commit]
      - id: check-symlinks
        stages: [pre-commit]
      - id: check-yaml
        stages: [pre-commit]
      - id: end-of-file-fixer
        stages: [pre-commit]
      - id: trailing-whitespace
        stages: [pre-commit]
      - id: check-toml
        stages: [pre-commit]
      - id: mixed-line-ending
        stages: [pre-commit]
        args: [ --fix=no ]

  - repo: https://github.com/markdownlint/markdownlint
    rev: v0.12.0
    hooks:
      - id: markdownlint_docker
        stages: [pre-commit]

  - repo: local
    hooks:
      - name: Go Tests
        id: go-tests
        language: system
        files: '\.go$'
        pass_filenames: false
        entry: go test -timeout 30s -short -v ./...
      - name: Go Mod Tidy
        id: go-mod-tidy
        language: system
        pass_filenames: false
        entry: go mod tidy
        files: '(\.go$|go\.mod|go\.sum)'
      - name: Go Generate
        id: go-generate
        language: system
        pass_filenames: false
        entry: go generate ./...

Make Powershell completion script work in constrained mode
  powershell_completions_test.go
  templates/completion.pwsh.gotmpl
Due: go-tests, go-mod-tidy

Fix Windows build by using the command parameter in runMouseTrap
  command_win.go
Due: go-tests, go-mod-tidy

Fix nil-pointer panic on traverse flag-parse error
  command.go
  command_test.go
Due: go-tests, go-mod-tidy

Fix IsNil panic on array values
  internal/testutil/nil.go
  internal/testutil/nil_test.go
Due: go-tests, go-mod-tidy

Fix CompLogger closing the debug file before any writes
  completions.go
  completions_test.go
  exports_test.go
Due: go-tests, go-mod-tidy

Escape command name in generated completion scripts
  bash_completions_test.go
  completions.go
  fish_completions_test.go
  powershell_completions_test.go
  templates/completion.bash.gotmpl
  templates/completion.fish.gotmpl
  templates/completion.zsh.gotmpl
  zsh_completions_test.go
  zulu.go
Due: go-tests, go-mod-tidy

Fix fish completion test image with EPEL on Rocky 9
  completion-integrations/tests/Dockerfile.rockylinux-9-fish-3.7
  completion-integrations/tests/Dockerfile.rockylinux-fish-3.3
Due: none

Keep generated doc files inside the target directory
  doc/cmd_test.go
  doc/man_docs.go
  doc/man_docs_test.go
  doc/md_docs.go
  doc/md_docs_test.go
  doc/rest_docs.go
  doc/rest_docs_test.go
  doc/util.go
  doc/yaml_docs.go
  doc/yaml_docs_test.go
Due: go-tests, go-mod-tidy

Fix docs site symbols to match the real zulu/zflag API
  site/content/cobra_differences.md
  site/content/completions/completion.md
  site/content/completions/powershell.md
  site/content/conduct.md
  site/content/getting_started.md
Due: none

Make the site build with the mise-managed Hugo
  mise.toml
  site/config.toml
  site/go.mod
  site/go.sum
  site/layouts/_partials/styles.html
  site/layouts/shortcodes/githubReleases.html
Due: go-mod-tidy

Install Hugo via mise in the site workflow
  .github/workflows/site.yml
Due: none

Apply suggestion from @hoshsadiq
  completion-integrations/tests/Dockerfile.rockylinux-9-fish-3.7
Due: none

Fix fish completion test image with EPEL on Rocky 9 (#99)
  completion-integrations/tests/Dockerfile.rockylinux-9-fish-3.7
  completion-integrations/tests/Dockerfile.rockylinux-fish-3.3
Due: none

Make the site build with the mise-managed Hugo (#102)
  .github/workflows/site.yml
  mise.toml
  site/config.toml
  site/go.mod
  site/go.sum
  site/layouts/_partials/styles.html
  site/layouts/shortcodes/githubReleases.html
Due: go-mod-tidy

Keep generated doc files inside the target directory (#100)
  doc/cmd_test.go
  doc/man_docs.go
  doc/man_docs_test.go
  doc/md_docs.go
  doc/md_docs_test.go
  doc/rest_docs.go
  doc/rest_docs_test.go
  doc/util.go
  doc/yaml_docs.go
  doc/yaml_docs_test.go
Due: go-tests, go-mod-tidy

Fix docs site symbols to match the real zulu/zflag API (#101)
  site/content/cobra_differences.md
  site/content/completions/completion.md
  site/content/completions/powershell.md
  site/content/conduct.md
  site/content/getting_started.md
Due: none

docs: add cobra/pflag to zulu/zflag migration table
  site/content/migration.md
Due: none

Deduplicate DisableAutoGenTag propagation in doc generators
  doc/adoc_docs.go
  doc/cmd_test.go
  doc/man_docs.go
  doc/md_docs.go
  doc/rest_docs.go
  doc/util.go
Due: go-tests, go-mod-tidy

Fix Windows build by using the command parameter in runMouseTrap (#94)
  command_win.go
Due: go-tests, go-mod-tidy

Fix IsNil panic on array values (#96)
  internal/testutil/nil.go
  internal/testutil/nil_test.go
Due: go-tests, go-mod-tidy

Fix nil-pointer panic on traverse flag-parse error (#95)
  command.go
  command_test.go
Due: go-tests, go-mod-tidy

Deduplicate DisableAutoGenTag propagation in doc generators (#104)
  doc/adoc_docs.go
  doc/cmd_test.go
  doc/man_docs.go
  doc/md_docs.go
  doc/rest_docs.go
  doc/util.go
Due: go-tests, go-mod-tidy

docs: add cobra/pflag to zulu/zflag migration table (#103)
  site/content/migration.md
Due: none

Fix CompLogger closing BASH_COMP_DEBUG_FILE before any writes (#97)
  completions.go
  completions_test.go
  exports_test.go
Due: go-tests, go-mod-tidy

Modernise hand-rolled loops with slices, min/max and strings.Cut
  args.go
  command.go
  completions.go
  zulu.go
Due: go-tests, go-mod-tidy

Fix stale doc comments in command.go and completions.go
  command.go
  completions.go
  site/content/code/shell_directives.gen.txt
Due: go-tests, go-mod-tidy

Fix stale doc comments in command.go and completions.go (#107)
  command.go
  completions.go
  site/content/code/shell_directives.gen.txt
Due: go-tests, go-mod-tidy

docs: complete the cobra/pflag migration table (#105)
  site/content/migration.md
Due: none

Keep completion quoting helpers out of the global template funcs
  completions.go
  completions_funcmap_test.go
  zulu.go
Due: go-tests, go-mod-tidy

Replace Makefiles with mise tasks and parallelise completion tests
  .github/workflows/test-completions.yml
  Makefile
  completion-integrations/Makefile
  completion-integrations/README.md
  completion-integrations/src/test-all.sh
  completion-integrations/src/test-completion.sh
  completion-integrations/testprog/Makefile
  mise-tasks/completion/all
  mise-tasks/completion/bash
  mise-tasks/completion/build-linux
  mise-tasks/completion/clean
  mise-tasks/completion/fish
  mise-tasks/completion/mac
  mise.toml
Due: none

Fix remaining make references in contributor docs
  site/content/contributing.md
Due: none

Restore dynamic shell detection and move tasks to mise/tasks
  completion-integrations/src/test-all.sh
  mise/tasks/completion/all
  mise/tasks/completion/bash
  mise/tasks/completion/build-linux
  mise/tasks/completion/clean
  mise/tasks/completion/fish
  mise/tasks/completion/mac
Due: none

Modernise hand-rolled loops with slices, min/max and strings.Cut (#106)
  args.go
  command.go
  completions.go
  zulu.go
Due: go-tests, go-mod-tidy

Replace Makefiles with mise tasks and parallelise completion tests (#109)
  .github/workflows/test-completions.yml
  Makefile
  completion-integrations/Makefile
  completion-integrations/README.md
  completion-integrations/src/test-all.sh
  completion-integrations/src/test-completion.sh
  completion-integrations/testprog/Makefile
  mise.toml
  mise/tasks/completion/all
  mise/tasks/completion/bash
  mise/tasks/completion/build-linux
  mise/tasks/completion/clean
  mise/tasks/completion/fish
  mise/tasks/completion/mac
  site/content/contributing.md
Due: none
